<% include ./partials/header %>

<h1 style="text-align: center">Sign Up</h1>
<div style="width: 30%; margin: 30px auto;">
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <button>Sign Up</button>
    </form>
</div>

<% include ./partials/footer %>
